<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.king.mappers.memberMapper">
	<insert id="join" parameterType="com.king.domain.MemberVO">
		insert into tbl_member values (#{email},#{nickname},#{pwd},0)
	</insert>
	<select id="login" parameterType="com.king.domain.MemberVO" resultType="com.king.domain.MemberVO">
		select email, nickname, grade from tbl_member
		where email=#{email} and pwd=#{pwd}
	</select>
	<select id="list" resultType="mvo">  <!-- list는 하나의 포장지고 그 안에 있는 MemberVO가 들어가야함 -->
		select email, nickname, grade from tbl_member
	</select>
	<select id="info" parameterType="java.lang.String" resultType="mvo">
		select email, nickname, pwd from tbl_member where email=#{email} 
	</select>
	<select id="emailCount" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(email) from tbl_member where email=#{email}
	</select>
	<update id="edit" parameterType="mvo"> <!-- resultType은 알아서 int로 전환해줌 -->
		update tbl_member set pwd=#{pwd}, nickname=#{nickname} where email=#{email}
	</update>
	<delete id="remove" parameterType="java.lang.String">
		delete from tbl_member where email=#{email}
	</delete>
	<select id="cnt" resultType="java.lang.Integer">
		select count(email) from tbl_member	
	</select>
	
</mapper>