<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gipkok.mappers.productMapper">
	<sql id="base">from product where pno=#{pno}</sql>
	<insert id="reg" parameterType="pvo">
		insert into product (category, pname, content, price, imgfile, thumb)
		values (#{category}, #{pname}, #{content}, #{price}, #{imgfile}, #{thumb})
	</insert>
	<select id="lip" resultType="pvo" parameterType="paging"> 
		select pno, category, pname, price, thumb, imgfile from product
		limit #{startNo}, #{pageSize}
	</select>
	<select id="info" parameterType="java.lang.Integer" resultType="pvo">
		select * <include refid="base"></include>
	</select>
	<select id="vcnt" resultType="pvo" parameterType="paging">
		select pno, category, pname, price, thumb, imgfile from product order by vcnt desc
		limit #{startNo}, #{pageSize}	
	</select>
	<select id="ocnt" resultType="pvo" parameterType="paging">
		select pno, category, pname, price, thumb, imgfile from product order by ocnt desc
		limit #{startNo}, #{pageSize}	
	</select>
	<update id="mod" parameterType="pvo">
		update product set category=#{category}, pname=#{pname}, content=#{content},
		price=#{price}, imgfile=#{imgfile}, thumb=#{thumb} where pno=#{pno}
	</update>
	<select id="cli" resultType="pvo" parameterType="java.lang.String">
		select pno, category, pname, price, thumb, imgfile from product where category=#{category}
	</select>
	<update id="cntup" parameterType="java.lang.Integer">
		update product set vcnt	= vcnt +1 where pno=#{pno}
	</update>
	<update id="cntup" parameterType="java.lang.Integer">
		update product set ocnt	= ocnt +1 where pno=#{pno}
	</update>
	

	<select id="cnt" resultType="java.lang.Integer">
		select count(pno) from product	
	</select>
	<delete id="rm" parameterType="java.lang.Integer">
		delete <include refid="base"></include>
	</delete>

	
</mapper>